*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ededed;
    color: #123969;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 2%;
    justify-content: space-between;
    background: #0b2545;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 700;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0b2545;
    animation: showRight 3s ease forwards;
    animation-delay: .4s;
}
.navbar a {
    font-size: 15px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .2s;
}

.navbar a:hover,
.navbar a.active {
    color: #ab1d20; 
}

.home {
    height: 100vh;
    display:flex;
    align-items: center;
    align-items: center;
    padding: 0 10%;
}

.home-content h1 {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 50px;
    font-weight: 600;
    font-family: 'DM Serif Display';
    line-height: 1.0;
}

.home-content h3 {
    font-size: 13px;
    font-weight: 100;
    line-height: 1.0;
    margin: 20px 20px 40px;
}
.home-content p {
    font-size: 14px;
    max-width: 500px;
    color: #323883;
    margin: 20px 20px 40px;
}

.home-content .btn-box {
    display: flex;
    width: 100px;
    height: 50px;
    margin: 20px 20px 40px;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80%;
    background: maroon;
    border: 1px solid maroon;
    border-radius: 18px;
    font-size: 14px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-box a:nth-child() {
    background: transparent;
}

.btn-box a:hover{
    color: black; 
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

.home img {
    position: flex;
    width: 400px;
    height: 350px;
    border-radius: 100%;
    display: right;
    justify-content: right;
}

.home-img img {
    width: 100%;
    border-radius: 100%;
    border: .1rem solid #ededed;
    min-width: 100px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #ededed;
    padding-bottom: 6rem;
}

.about img span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #0b2545;
    border-bottom: .2rem solid #0b2545;
    border-left: .2rem solid maroon;
    border-right:.2rem solid maroon;
} 

.about-button a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 200%;
    background: maroon;
    border: 1px solid maroon;
    border-radius: 20px;
    font-size: 12px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px;
}

.about-button a:hover {
    color: black;
}

.about-button a:nth-child() {
    background-color: transparent;
}

.heading {
    font-size: 35px;
    margin-bottom: 8px;
    text-align: center;
    margin-top: 50px;
}

span {
    color: #0f177e;
}

.about img {
    position: flex;
    width: 200px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    text-align: center;
}

.about-content p {
    font-size: 14px;
    margin: 20px;
}

.about-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 200%;
    background: maroon;
    border: 1px solid maroon;
    border-radius: 20px;
    font-size: 12px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px;
}

.about-box a:hover {
    color: black;
}

.about-box a:nth-child() {
    background-color: transparent;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 2rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 25px;
    margin: 0 0 1.5rem 5rem;
    margin-top: 2rem;
}

.education-column .education-box {
    border-left: .2rem solid #0b2545;
    margin-left: 2rem;
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #0a0f54;
    border-radius: 50%;
}
.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #0f3058;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #bed2ed;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover:before {
    width: 100%;
}
.education-content .content .year {
    font-size: 15px;
    color: maroon;
    padding-bottom: .3rem;
}

.education-content .content .year i {
    padding-right: .3rem;
}

.education-content .content h3 {
    font-size: 17px;
}

.education-content .content p {
    font-size: 13px;
    padding-top: .5rem;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
    margin-top: 2rem;
}

.contact form .input-box .input-field input {
    width: 95%;
    height: 95%;
    padding: 1rem;
    font-size: 14px;
    color: #0b2545;
    background: transparent;
    border-radius: .2rem;
    border: .2rem solid #0b2545;
    margin-left: 8px;
    margin-right: 8px;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: #050834;
}
.contact form .textarea-field textarea {
    width: 99%;
    height: 40%;
    padding: 1rem;
    font-size: 16px;
    color: #050834;
    background: transparent;
    border-radius: 2rem;
    border: .2rem solid #050834;
    margin-left: 10px;
}

.contact form .textarea-field {
    position: center;
    margin: .8rem 0 2.7rem;
}

.name-email {
    display: flex;
    justify-content: space-between;
}

.btn-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 10px;
    background: maroon;
    border: 1px solid maroon;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px;
}

.btn-box button{
    padding: 0;
    border: none;
    background: none;
    color: #ededed;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, 74%);
}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(3):hover .icon{
  background: green;
}

.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(2) span{
  color: #E1306C;
}
.wrapper .button:nth-child(3) span{
  color: green;
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }    

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: #0b2545;
    }

    #menu-icon {
        display: block;
    }
}